/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/*.m4
/missing
/stamp-h1
*~
*.o
*.lo
.deps/
.libs/
.dirstamp
*.tar.*
*.gcno
*.gcda
/include/riemannpp/platform.hpp
/include/riemannpp/platform.hpp.in
/include/riemannpp/stamp-h1
riemannpp.pc
.autotools
.cproject
.project
/lib